/* formattazione pagina */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body{
    font-family: 'Raleway', sans-serif;
    width: 80%;
    margin: 0 auto;
    
}

li{
    display: inline-block;
    list-style: none;
    
}

.color-text{
    color: #9b9b9b;

}


/* header */


#logo{
    height: 70px;
}


nav{
    height: 90px;
    line-height: 90px;
    
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: #9b9b9b;
    margin-right: 10px;
    font-weight: 500;
}

.jumbotron{
    
    border-radius: 10px;
    height: 500px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
         
        
}

.bg-grey{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 100%;
}

.jumbotron-text{
    padding: 310px 44% 50px 50px;
    color: white;
  
}


/* main */

/* main-top */

.leadership{
    padding: 30px 0;
}

.leadership h2{
    font-size: 35px;
}


/* main-columns */

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

aside{
    width: 18%;
    float: left;
   
}

.column-center{
    width: 60%;
    float: left;
    margin: 0 2%;
}


.img-sx{
    background-image: url(../img/img-1.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}



.img-center{
    background-image: url(../img/banner-2.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    
}

.img-dx{
    background-image: url(../img/img-3.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    
}


/* testo colonne */

.colonne p{
    margin-top: 10px;
}

h4{
    font-weight: 300;
}










