/* formattazione pagina */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body{
    font-family: 'Roboto', sans-serif;
    width: 80%;
    margin: 0 auto;
}


/* header */

#logo{
    height: 80px;
    background-color: red;    
}

nav{
    height: 80px;
    background-color: seagreen;
}

.jumbotron{
    height: 500px;
    background-color: blue;
}










