/* formattazione pagina */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body{
    font-family: 'Raleway', sans-serif;
    width: 80%;
    margin: 0 auto;
    
}

li{
    display: inline-block;
    list-style: none;
}


/* header */

.header-top{
    height: 80px;
       
}

#logo{
    height: 80px;
}


nav{
    height: 80px;
    line-height: 80px;
    
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: #9b9b9b;
    margin-right: 10px;
    font-weight: 500;
}

.jumbotron{
    
    border-radius: 10px;
    height: 500px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
         
        
}

.bg-grey{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    height: 100%;
}

.jumbotron-text{
    padding: 310px 44% 50px 50px;
    color: white;
  
}








/* debug */

/* .header-top, .debug{
    background-color: red;
}

nav.debug{
    background-color: seagreen;

} */









