/* formattazione pagina */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body{
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.padding{
    padding: 15px 20px 15px 20px;
}

li{
    display: inline-block;
}

.c-txt{
    color: #838383;
}

.layover{
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    border-radius: 15px;

}


/* header */

.header-top{
    height: 90px;
    
    
}

#logo{
    height: 100%;
    
}

nav{
    height: 80px;
    
}

a{
    text-decoration: none;
    color: #838383;
    text-transform: uppercase;
    margin-right: 10px;
    margin-bottom: 30px;
}

.jumbotron{
    height: 500px;
    background-image: url(../../img/2742190.jpg);
    background-color: springgreen;
    background-size: cover;
    background-position: center;
    border-radius: 15px;

}



.jumbo-text{
    color: white;
    padding: 310px 58% 30px 50px;
}

p{
    margin-top: 10px;
}





/* main */


/* section */

section{
   margin-top: 25px;
   margin-bottom: 15px;

}

h2 {
    font-size: 35px;
}



/* colonne */


.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.img{
    height: 250px;
}

p.c-txt{
    margin-bottom: 20px;
}

.autore::before{
    background-image: url(../../img/LOGO\ DEIN\ x\ maglia.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 25px;
    width: 25px;
    content: '';
    border: 1px solid black;
    border-radius: 50%;
    line-height: 45px;
    vertical-align: middle;
    margin-right: 10px;
    
}

span.autore{
    font-size: 13px;
}

span strong{
    color: black;
}

div>.btm{
    margin-bottom: 40px;
}

/* colonna sinistra */

.colonna-sx{
    width: calc(100% / 3 - 25px);
    float: left;
}

.img-sx-top{
    background-image: url(../../img/img-1.jpg);
    background-size: cover;
    background-position: center;
}

.img-sx-bottom{
    background-image: url(../../img/img-4.jpg);
    background-size: cover;
    background-position: center;
}




/* colonna centrale */

.colonna-centro{
    height: 800px;
    background-color: black;
    width: calc(100% / 3);
    float: left;
    margin: 0 25px;
}


/* colonna destra */

.colonna-dx{
    height: 800px;
    background-color: purple;
    width: calc(100% / 3 - 25px);
    float: left;
}




