/* formattazione pagina */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body{
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.padding{
    padding: 15px 20px 15px 20px;
}

li{
    display: inline-block;
}



/* header */

.header-top{
    height: 90px;
    
    
}

#logo{
    height: 100%;
    
}

nav{
    height: 80px;
    
}

a{
    text-decoration: none;
    color: #838383;
    text-transform: uppercase;
    margin-right: 10px;
    margin-bottom: 30px;
}

.jumbotron{
    height: 500px;
    background-image: url(../../img/2742190.jpg);
    background-color: springgreen;
    background-size: cover;
    background-position: center;
    border-radius: 15px;

}

.layover{
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    border-radius: 15px;

}

.jumbo-text{
    color: white;
    padding: 310px 58% 30px 50px;
}

p{
    margin-top: 10px;
}





/* main */


/* section */

section{
    height: 100px;
    background-color: blue;
}


.colonne{
    height: 800px;
    background-color: yellow;
    
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.colonna-sx{
    height: 800px;
    background-color: grey;
    width: calc(100% / 3);
    float: left;
}

.colonna-centro{
    height: 800px;
    background-color: black;
    width: calc(100% / 3);
    float: left;
}

.colonna-dx{
    height: 800px;
    background-color: purple;
    width: calc(100% / 3);
    float: left;
}




